@page "/finger_princess"
<div style="text-align:center;
  margin-top: 200px;
  margin-left: 300px;
  padding-top: 25px;

    width: 500px; height: 200px;
    background-color: pink;">
   
    <h3 style="margin-bottom: 15px">로그인</h3>
    <input type="text" placeholder="ID를 입력해랏!"/><br />
    <input type="text" placeholder="PW를 입력해랏!" /><br /><br />
    <input type="radio" name="군인" value="군인" checked />군인
    <input type="radio" name="군인" value="군무원" />군무원
    <input type="button" value="LOGIN" />

</div>
<style>
    body {
        background-image: url('Sanrio2.jpg');
    
        }
    
</style>
@code {



}
