@page "/homepage"

<h1>개노답</h1>

<img src= "dnaHomepageImg.jpg" />

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="decrementCount">Click you</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private void decrementCount()
    {
        currentCount--;
    }
}
    