@page "/jihwan"

@inject HttpClient Http

<h3>Jihwan</h3>
@code {

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("GD");
        //var result = await Http.GetStringAsync("https://www.naver.com");
        //Console.WriteLine(result);
    }

}
