@page "/jihwan"

@inject HttpClient HttpClient

<h3>Jihwan</h3>
@Content

@code {

    private string Content { get; set; }
    protected override async Task OnInitializedAsync()
    {

        var result = await HttpClient.GetStringAsync("https://www.naver.com");
        Content = result;
    }

}
