<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="homepage">DNA_PROJECT</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="vacation" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 휴가관리
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="education">
                <span class="oi oi-plus" aria-hidden="true"></span> 교육관리
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="notice">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 공지사항
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manage_user">
                <span class="oi oi-image" aria-hidden="true"></span> 사용자관리
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jihwan">
                <span class="oi oi-image" aria-hidden="true"></span> Jihwan
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
